:local {
  .tile {
    background-color: #6441A4 !important;
  }

  .username {
    background-color: rgba(29, 29, 29, .5) !important;
  }

  .streamname {
    background-color: rgba(29, 29, 29, .7) !important;
  }


  .gamename {
    background-color: rgba(29, 29, 29, .7) !important;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
  }

  .gamebar {
    text-align: left;
    padding-left: 0 !important;
  }

  .longtitle {
    background-color: rgba(29, 29, 29, .7) !important;
  }

  .thumbnail {
    max-width: 100%;
    height: auto;
  }

  .gameicon {
    max-height: 100%;
    width: auto;
  }

  .avatar {
    max-width: 5em;
    height: auto;
  }

  .badgeavatar {
    max-width: 7em;
    overflow-wrap: break-word;
  }
}