@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~metro4/build/css/metro-all.min.css";
@import "~noty/lib/noty.css";
@import "~noty/lib/themes/relax.css";

body {
  transition: 0.5s;

  &.dark {
    background-color: #121212;
  }
}

img.tile-logo {
  max-width: 2rem;
  height: auto;
  position: absolute;
  margin: 0.5rem;
  opacity: 0.7;
  top: 0;
  left: 0;
}

.notification-header {
  font-weight: bold;
  font-size: 1.1em;
}

.notification-body {
  font-size: 0.9em;
}

.tile-app.transform-bottom.tile-wide,
.tile-large.transform-bottom.tile-wide,
.tile-medium.transform-bottom.tile-wide,
.tile-small.transform-bottom.tile-wide,
.tile-wide.transform-bottom.tile-wide {
  transform: scale(0.9) !important;
  transform-origin: center !important;
}

.tile-app.transform-top.tile-wide,
.tile-large.transform-top.tile-wide,
.tile-medium.transform-top.tile-wide,
.tile-small.transform-top.tile-wide,
.tile-wide.transform-top.tile-wide {
  transform: scale(0.9) !important;
  transform-origin: center !important;
}

.tile-app.transform-left.tile-wide,
.tile-large.transform-left.tile-wide,
.tile-medium.transform-left.tile-wide,
.tile-small.transform-left.tile-wide,
.tile-wide.transform-left.tile-wide {
  transform: scale(0.9) !important;
  transform-origin: center !important;
}

.tile-app.transform-right.tile-wide,
.tile-large.transform-right.tile-wide,
.tile-medium.transform-right.tile-wide,
.tile-small.transform-right.tile-wide,
.tile-wide.transform-right.tile-wide {
  transform: scale(0.9) !important;
  transform-origin: center !important;
}


.tile-wide,
.tile-large,
.tile-medium,
.tile-small {
  transition: 0.5s;
  transition-property: box-shadow;
}

.dark .tile-wide,
.dark .tile-large,
.dark .tile-medium,
.dark.tile-small {
  -webkit-box-shadow: inset 0 0 1px #3d2863 !important;
  box-shadow: inset 0 0 1px #3d2863 !important;
}
