@import "~font-awesome/css/font-awesome.css";
@import "~metro4/build/css/metro-all.min.css";

img.tile-logo {
  max-width: 2rem;
  height: auto;
  position: absolute;
  margin: 0.5rem;
  opacity: 0.7;
  top: 0;
  left: 0;
}